@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

:root {
    --secondary-font: 'Poiret One', cursive;
    --main-font: 'Poppins', sans-serif;
    --color-pacificblue: #418CB7;
    --color-aqua: #24CFC5;
    --color-darkblue: #001C63;
    --color-lavender: #dbdbf8;
    --color-violet: #FF62C0;
    --color-gold: #FFDC99;
}


html {
    font-size: 62.5%;
    font-family: var(--main-font);
}

body {
    margin: 0;
    font-size: 1.4rem;
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(220.55deg, var(--color-gold) 0%, var(--color-lavender) 100%);


}

.index-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-darkblue);
}


.container {
    margin-top: 5rem;
    width: 80vw;

}


.container {
    display:flex;
    justify-content: center;
}

.figure1{
    margin-top: 5rem;
    padding: 5rem;
    border-radius: 50%;
    background: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
    cursor: pointer;
    width: 25rem;
    height: 25rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.figure1 p {
    margin: 0;
    padding: 0;
    margin-bottom: -2rem;
    margin-left: -1.5rem;
    color: var(--color-aqua);
    letter-spacing: 0.8rem;
    font-size: 5rem;
    font-family: var(--secondary-font);
   
    
}

.figure1 span {
    padding-left: 2rem;
    font-size: 5.5rem;
    
}

@media (max-width:60rem){
    .figure1{
        margin-top: 5rem;
        padding: 5rem;
        width: 14rem;
        height: 14rem;
    }

    .figure1 p {
        font-size: 3rem;
    }

    .figure1 span {
        font-size: 3.5rem;
    }

    .contact-link {
        font-size: 1.5rem;
    }
}

.figure1:hover {
    margin-left: 8rem;
    margin-bottom: -8rem;
    transition: all 0.6s;
    z-index: 100;
    background: linear-gradient(80deg, #24CFC5 0%, #001C63 100%);
    
}


.text-center {
    text-align: center;
}

.contact-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--color-aqua);
    text-decoration: underline;
}

.contact-link:hover{
    color: var(--color-lavender);
    letter-spacing: 0.1rem;
}

.links {
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    color: var(--color-aqua);
    text-shadow: 1px 1px 1px var(--color-darkblue);
}

.links:hover {
    transition: all 0.3s;
    color: var(--color-darkblue);
}

.figure2 {
    padding: 3rem;
    width: 20rem;
    height: 20rem;
    margin-left:-10rem;
    margin-bottom: -4rem;
    border-radius: 50%;
    align-self: flex-end;
    background: linear-gradient(220.55deg, #FFDC99 0%, #FF62C0 100%);
    cursor: pointer;
    z-index: 2;
    display:flex;
    align-items: center;
    justify-content: center;
}

.figure2:hover{
    border: 0.2rem solid var(--color-darkblue);
    margin-left: -5rem;
    margin-bottom: -5rem;
    transition: all 0.5s;
    background: linear-gradient(130deg, #FFDC99 0%, #FF62C0 100%);
    z-index:20;
}

.figure2 p {
    color: var(--color-darkblue);
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-family: var(--secondary-font);
    border-bottom: 0.1rem solid var(--color-gold);
}

@media (max-width:60rem){
    .figure2{
        width: 10rem;
        height: 10rem;
        margin-left:-8rem;
    }

    .figure2 p {
        font-size: 2.8rem;
    }
}

.info {
    width: 30rem;
    padding: 2rem;
    border: 0.2rem dotted var(--color-darkblue);
    color: var(--color-lavender);
    font-size: 1.6rem;
    background-color: var(--color-pacificblue);
}

.tech-icons {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px 1px 1px var(--color-darkblue);
}

.line {
    margin-top: 4.6rem;
    width: 25rem;
    height: 10rem;
    border-right: 0.2rem dotted var(--color-darkblue);
    
}

.figure3 {
    padding: 7rem;
    width: 16rem;
    height: 16rem;
    margin-left: -19rem;
    margin-bottom: 2rem;
    border-radius: 50%;
    align-self: flex-start;
    background: linear-gradient(220.55deg, var(--color-lavender) 0%, var(--color-aqua) 100%);
    cursor: pointer;
    z-index:0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.figure3 p {
    font-size: 6rem;
    font-weight: 600;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--color-gold);
    font-family: var(--secondary-font);
}

.figure3:hover{
    border: 0.2rem solid var(--color-gold);
    margin-left: -12rem;
    margin-bottom: 3rem;
    transition: all 0.5s;
    background: linear-gradient(80deg,  var(--color-lavender) 0%, var(--color-aqua)  100%);
    z-index: 10;
}

@media (max-width:60rem){
    .figure3{
        margin-left: -11rem;
        width: 6rem;
        height: 6rem;
    }

    .figure3 p{
        font-size: 4rem;
    }
}


.header {
    padding: 2rem;
    margin: 2rem;
    border-radius: 50%;
    background: linear-gradient(220.55deg, #FFBB89 0%, #7B6AE0 100%);
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    justify-self: flex-start;
    box-shadow: 1rem 1rem var(--color-darkblue);
    z-index: 100;
}

.header:hover {
    transition: all 0.6s;
    z-index: 100;
    background: linear-gradient(220.55deg, #FFBB89 0%, #7B6AE0 100%);
    border: 0.2rem solid var(--color-darkblue);
    box-shadow: 1rem 0.5rem var(--color-darkblue);
}

header .line-top {
    margin-top: -6rem;
    margin-left: 12rem;
    z-index: -100;
    border-top: 0.2rem dotted var(--color-darkblue);
}

header .line-top > p {
    font-size: 6rem;
    font-family: var(--secondary-font);
    font-weight: 600;
    margin-top: -6rem;
    margin-left: 4rem;
}


.header p {
    margin-top: 0.5rem;
    color: var(--color-darkblue);
    letter-spacing: -0.4rem;
    font-size: 4rem;
    font-family: var(--secondary-font);
    
    
}

.project-container {
    display: flex;
    width: 85vw;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    margin: 1rem;
    cursor:pointer;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    filter: grayscale(60%);
    box-shadow: inset 0 0 10px #000000;
    overflow: hidden;
}

.project:hover {
    transition: all 0.5s;
    transition-delay: ;
    transform: rotate(360deg);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem var(--color-aqua));
    box-shadow: 0 0 10px #00000000;

}

.project p {
    font-size: 4rem;
    
}


.tech {

    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 15rem;
    width: 25rem;
    height: 10rem;
    padding:1rem;
    background: linear-gradient(220.55deg, #FFBB89 0%, #7B6AE0 100%);
    z-index: -5;
    color: var(--color-darkblue);
    font-size: 3rem;
    text-shadow: 1px 1px 1px var(--color-aqua);
}

.tech .icons {
    text-align: center;
    padding: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;;

}

.tech i {
    margin: 0.1rem;
}

.card {
    padding: 3rem;
    width: 70rem;
    background-color: var(--color-lavender);
    border-radius: 5rem;
    box-shadow: 0.3rem 0.3rem 0.8rem #00000030;
    display: flex;
}

.avatar {
    width: 50%;
    padding: 2rem;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.contact-details {
    text-align: center;
    font-family: var(--secondary-font);
    width: 50%;
    padding: 2rem;
    background-color: #FF62C020;
    border-radius: 2rem;
}

.contact-details .name {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4rem;
    color: var(--color-darkblue);
    text-shadow: 2px 2px var(--color-gold);
}

.contact-details .city {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.5rem;
    color: var(--color-darkblue);
}

.contact-details .tlf {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-darkblue);
    font-weight: 700;
    letter-spacing: 0.1rem;

}

@media (max-width: 70rem) {
    .card {
        padding: 3rem;
        width: 80%;
    }
  }

@media (max-width: 50rem) {
    .card {
        padding: 3rem;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-details, .avatar {
        width: 80%;
    }
  }